* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /*font-size: 16px;*/
    line-height: 1.7;
    box-sizing: border-box; 
}

#username {
    color:#000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

#profileimg {
  width: 10%;
  /* box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2); */
  border-radius: 100px;
}

.center {
    margin-top: -5rem;
    text-align: center; 
}

header {
    background-image: url(../mainimg.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
    /* box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2); */
}